body {
  margin: 0;
  padding: 0;
  font-family: 'Over the Rainbow', cursive;
  font-size: 26px;
  background-color: #a3c8d8;
}

.app-container {
  margin: 0 auto;
  text-align: center;
}

button {
  display: inline-block;
  font-size: 18px;
  margin: 0 15px 30px 0;
  padding: 8px 16px;
}

.board {
  margin: 0;
  margin-right: 20%;
  float: right;
  padding: 2px;
}

.row {
  line-height: 0;
  margin: 0;
  padding: 0;
}

.square {
  background: #fff;
  display: inline-block;
  height: 12px;
  width: 12px;
}

/*.square.on {
  background: white;
}*/

.square.red {
  background: red;
}

.square.black {
  background: black;
}

.square.yellow {
  background: yellow;
}

.square.purple {
  background: purple;
}

.square.blue {
  background: blue;
}

.square.green {
  background: green;
}

.black {
  padding: 0px;
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
}

.red {
  padding: 0px;
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
}

.yellow {
  padding: 0px;
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: yellow;
  color: black;
}

.purple {
  padding: 0px;
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: purple;
  color: black;
}

.blue {
  padding: 0px;
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: blue;
  color: black;
}

.green {
  padding: 0px;
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: green;
  color: black;
}

.colors-container {
  position: relative;
  width: 10%;
  margin-left: 15%;
  margin-top: 5%;
}

.colors {
  display: flex;
  flex-direction: column;
}
