body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: white;
  font-family: Chalkduster, fantasy;
  font-size: 20px;
  font-weight: 200;
  height: 10vh;
  line-height: 1.4;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.inner-container {
  display: flex;
  flex-direction: row-reverse;
}

button {
  display: inline-block;
  font-size: 18px;
  margin: 0 15px 30px 0;
  padding: 8px 16px;
}

.board {
  border: 5px solid black;
  display: flex;
  flex: 2;
  float: right;
  height: 68vh;
  margin-right: 20px;
  overflow: hidden;
}

.row {
  width: 2%;
}

.square {
  background: #fff;
  height: 3%;
  width: 96%;
}

.square.red {
  background: red;
}

.square.black {
  background: black;
}

.square.yellow {
  background: yellow;
}

.square.purple {
  background: purple;
}

.square.blue {
  background: blue;
}

.square.green {
  background: green;
}

.black {
  background-color: black;
  color: white;
  height: 50px;
  margin: 1px;
  padding: 0px;
  width: 50px;
}

.red {
  background-color: red;
  color: white;
  height: 50px;
  margin: 1px;
  padding: 0px;
  width: 50px;
}

.yellow {
  background-color: yellow;
  color: black;
  height: 50px;
  margin: 1px;
  padding: 0px;
  width: 50px;
}

.purple {
  background-color: purple;
  color: black;
  height: 50px;
  margin: 1px;
  padding: 0px;
  width: 50px;
}

.blue {
  background-color: blue;
  color: black;
  height: 50px;
  margin: 1px;
  padding: 0px;
  width: 50px;
}

.green {
  background-color: green;
  color: black;
  height: 50px;
  margin: 1px;
  padding: 0px;
  width: 50px;
}

.colors-container {
  display: flex;
  flex: .1;
}

.colors {
  display: flex;
  flex-direction: column;
}

.reset-btn {
  align-self: center;
  background-color: black;
  border-radius: 0.6em;
  color: white;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-top: 10px;
  padding: 1.2em 2.8em;
  text-align: center;
  text-decoration: none;
}
